@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono");

:root {
    --vp-c-yellow: rgb(255, 197, 23);
    --vp-c-yellow-light: rgb(252, 210, 83);
    --vp-c-yellow-lighter: rgb(252, 252, 124);
    --vp-c-yellow-dark: rgb(224, 173, 21);
    --vp-c-yellow-darker: rgb(173, 133, 14);
    --vp-c-yellow-dimm-1: rgba(255, 197, 23, 0.5);
    --vp-c-yellow-dimm-2: rgba(255, 197, 23, 0.25);
    --vp-c-yellow-dimm-3: rgba(255, 197, 23, 0.05);

    --vp-c-brand: var(--vp-c-yellow);
    --vp-c-brand-light: var(--vp-c-yellow-light);
    --vp-c-brand-lighter: var(--vp-c-yellow-lighter);
    --vp-c-brand-dark: var(--vp-c-yellow-dark);
    --vp-c-brand-darker: var(--vp-c-yellow-darker);

    --vp-button-brand-text: var(--vp-c-text-light-1);

    --vp-font-family-mono: "JetBrains Mono", "Menlo", "Monaco", "Consolas", 'Courier New', monospace;
}
